* {
  font-family: Karla, sans-serif;
  letter-spacing: 0.02rem;
  line-height: 1.6rem;
}

h1 {
  letter-spacing: 0.25rem;
}

.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
}

.column-full {
  text-align: center;
  width: 100%;
  font-size: x-large;
  padding: 1rem 9rem 3rem;
  margin-top: 0;
}

p {
  font-size: medium;
}

.column-one-half {
  width: calc(100% / 2);
}

.learn-more {
  color: red;
  background-color: white;
  border-color: red;
  padding: 0.2rem 2.5rem;
  font-size: medium;
}

.column-one-third {
  width: calc(100% / 3);
}

.column-two-third {
  width: 66.66%;
}
