* {
  font-family: Karla, sans-serif;
  letter-spacing: 0.02rem;
  line-height: 1.6rem;
}

h1 {
  letter-spacing: 0.25rem;
}

.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
}

.column-full {
  flex-basis: 100%;
}

.text-align-center {
  text-align: center;
}

.font-size-x-large {
  font-size: x-large;
}

.col-full-padding {
  padding: 1rem 9rem 3rem;
}

.col-full-margin-top-zero {
  margin-top: 0;
}

p {
  font-size: medium;
}

.column-one-half {
  flex-basis: 100%;
}

.learn-more {
  color: red;
  background-color: white;
  border-color: red;
  padding: 0.2rem 2.5rem;
  font-size: medium;
}

.column-one-third {
  flex-basis: 100%;
}

.column-two-third {
  flex-basis: 100%;
}
