* {
  font-family: Karla, sans-serif;
  letter-spacing: 0.05rem;
  line-height: 1.6rem;
}

h1 {
  letter-spacing: 0.25rem;
}

.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column-full {
  text-align: center;
  width: 100%;
  font-size: x-large;
}

p {
  font-size: medium;
}

.column-one-half {
  width: calc(100% / 2);
}

.learn-more {
  color: red;
  background-color: white;
  border-color: red;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.learn-button {
  text-align: center;
  justify-content: center;
  align-items: center;
}
